<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />

  <meta charset="utf-8">

  <title>{{page_title}} > SYTH-Games</title>
  <meta property="og:title" content="{{page_title}} > SYTH-Games">
  <meta name="twitter:title" content="{{page_title}} > SYTH-Games">

  <meta name="twitter:card" content="summary">
  <meta property="og:type" content="article">

  <meta name="description" content="{{{description}}}">
  <meta property="og:description" content="{{{description}}}">
  <meta name="twitter:description" content="{{{description}}}">

  <link rel="image_src" href="{{{banner}}}" />
  <meta name="twitter:image" content="{{{banner}}}">
  <meta property="og:image" content="{{{banner}}}">

  <meta name="keywords" content="{{{description}}}">

  <script src="/lazysizes.min.js" async=""></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140335274-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-140335274-1');
  </script>
  <!-- End Global site tag (gtag.js) - Google Analytics -->

  <!-- Twitter universal website tag code -->
  <script>
    !function (e, t, n, s, u, a) {
      e.twq || (s = e.twq = function () {
        s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
      }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = '//static.ads-twitter.com/uwt.js',
        a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
    }(window, document, 'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init', 'o27oq');
    twq('track', 'PageView');
  </script>
  <!-- End Twitter universal website tag code -->

</head>

<body>
  <div id="header">
    <img src="/img/text.png">
    &nbsp;
    <a href="https://twitter.com/GamesOnSaleDE" target="_blank">
      <img src="/img/twitter.png" with="32" height="32">
    </a>
    <a href="https://discord.gg/uPqjefM" target="_blank">
      <img src="/img/discord.png" with="32" height="32">
    </a>
  </div>

  <div id="navigation" width="80%">
    <ul>
      <li><a href="/news">News</a></li>
      <li><a href="/games">Games</a></li>
      <li><a href="/impressum">Impressum</a></li>
    </ul>
    <br>
  </div>

  <div id="content">
    <center>
      <div class="hinweis">
        <strong>Hinweis: </strong> Preise können abweichen!<br>
        Wir bemühen uns möglichst schnell die neusten Daten zu bekommen, aber Computer sind auch nur Maschinen.<br>
        <strong>*=Affiliate/Werbe-Link</strong>: Es kostet euch nicht mehr, aber ich bekomme einen kleinen Teil als
        Provision wenn ihr über diesen Link kauft.<br>
      </div><br>

      <a href="https://www.amazon.de/Wie-YouTuber-wird-Martin-Koytek-ebook/dp/B075GXNHX7/ref=as_li_ss_il?&linkCode=li3&tag=istani0815-21&linkId=e73e5083a54e1a2e7cc356bfca95f9a5&language=de_DE"
        target="_blank"><img border="0"
          src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B075GXNHX7&Format=_SL250_&ID=AsinImage&MarketPlace=DE&ServiceVersion=20070822&WS=1&tag=istani0815-21&language=de_DE"></a><img
        src="https://ir-de.amazon-adsystem.com/e/ir?t=istani0815-21&language=de_DE&l=li3&o=3&a=B075GXNHX7" width="1"
        height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />*<br>


      {{{body}}}
    </center>
    <br>
    <br>
  </div>

  <div id="footer">
    <center>
      <strong>*=Affiliate/Werbe-Link</strong>: Es kostet euch nicht mehr, aber ich bekomme einen kleinen Teil als
      Provision wenn ihr über diesen Link kauft.<br><br>
      Code by: Sascha Kaufmann
    </center>
  </div>
</body>

</html>