<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">


  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="stylesheet" type="text/css" href="/datatables.css" />

  <meta charset="utf-8">

  <title>{{page_title}} > Games-on-Sale.de</title>
  <meta property="og:title" content="{{page_title}} > Games-on-Sale.de">
  <meta name="twitter:title" content="{{page_title}} > Games-on-Sale.de">

  <meta name="twitter:card" content="summary">
  <meta property="og:type" content="article">

  <meta name="description" content="{{{description}}}">
  <meta property="og:description" content="{{{description}}}">
  <meta name="twitter:description" content="{{{description}}}">

  <link rel="image_src" href="{{{banner}}}" />
  <meta name="twitter:image" content="{{{banner}}}">
  <meta property="og:image" content="{{{banner}}}">

  <meta name="keywords" content="{{{description}}}">

  <script src="/jquery-3.4.1.min.js" async=""></script>
  <script src="/datatables.js" async=""></script>
  <script src="/lazysizes.min.js" async=""></script>
  <script src="/script.js" async=""></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140335274-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-140335274-1');
  </script>
  <!-- End Global site tag (gtag.js) - Google Analytics -->

  <!-- Twitter universal website tag code -->
  <script>
    !function (e, t, n, s, u, a) {
      e.twq || (s = e.twq = function () {
        s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
      }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = '//static.ads-twitter.com/uwt.js',
        a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
    }(window, document, 'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init', 'o27oq');
    twq('track', 'PageView');
  </script>
  <!-- End Twitter universal website tag code -->

  <!-- PopAds.net Popunder Code for games-on-sale.de -->
  <script type="text/javascript" data-cfasync="false">
    /*<![CDATA[/* */
    var _pop = _pop || [];
    _pop.push(['siteId', 3676656]);
    _pop.push(['minBid', 0]);
    _pop.push(['popundersPerIP', 0]);
    _pop.push(['delayBetween', 0]);
    _pop.push(['default', false]);
    _pop.push(['defaultPerDay', 0]);
    _pop.push(['topmostLayer', false]);
    (function () {
      var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
      var s = document.getElementsByTagName('script')[0];
      pa.src = '//c1.popads.net/pop.js';
      pa.onerror = function () {
        var sa = document.createElement('script'); sa.type = 'text/javascript'; sa.async = true;
        sa.src = '//c2.popads.net/pop.js';
        s.parentNode.insertBefore(sa, s);
      };
      s.parentNode.insertBefore(pa, s);
    })();
/*]]>/* */
  </script>
  <!-- PopAds.net Popunder Code End -->
</head>

<body>
  <div id="header">
    <img src="/img/text.png">
  </div>

  <div id="navigation" width="80%">
    <div id="navi">
      <ul>
        <li style="float:right"><a href="https://twitter.com/GamesOnSaleDE" target="_blank"><img src="/img/twitter.png" with="32"height="32"></a></li>
        <li style="float:right"><a href="https://discord.gg/uPqjefM" target="_blank"><img src="/img/discord.png" with="32" height="32"></a>

        <li><a href="/news">News</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/impressum">Impressum</a></li>
        <li width="100%">&nbsp;</li>
        <li width="100%">&nbsp;</li>
        
        </li>
      </ul>
    </div>
  </div>

  <div id="content" style="display: none">
    <center>
      <div class="hinweis">
        <strong>Hinweis: </strong> Preise können abweichen!<br>
        Wir bemühen uns möglichst schnell die neusten Daten zu bekommen, aber Computer sind auch nur Maschinen.<br>
        <strong>*=Affiliate/Werbe-Link</strong>: Es kostet euch nicht mehr, aber ich bekomme einen kleinen Teil als
        Provision wenn ihr über diesen Link kauft.<br>
      </div><br>


      {{{body}}}
    </center>
    <br>
    <br>
  </div>

  <div id="footer">
    <center>
      <strong>*=Affiliate/Werbe-Link</strong>: Es kostet euch nicht mehr, aber ich bekomme einen kleinen Teil als
      Provision wenn ihr über diesen Link kauft.<br><br>
      Code by: Sascha Kaufmann
    </center>
  </div>
</body>

</html>