<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />

  <meta charset="utf-8">

  <title>{{page_title}} > SYTH-Games</title>
  <meta property="og:title" content="{{page_title}} > SYTH-Games">
  <meta name="twitter:title" content="{{page_title}} > SYTH-Games">

  <meta name="twitter:card" content="summary">
  <meta property="og:type" content="article">

  <meta name="description" content="{{{description}}}">
  <meta property="og:description" content="{{{description}}}">
  <meta name="twitter:description" content="{{{description}}}">

  <link rel="image_src" href="{{{banner}}}" />
  <meta name="twitter:image" content="{{{banner}}}">
  <meta property="og:image" content="{{{banner}}}">

  <meta name="keywords" content="{{{description}}}">

  <script src="/lazysizes.min.js" async=""></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140335274-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-140335274-1');
  </script>
  <!-- End Global site tag (gtag.js) - Google Analytics -->

  <!-- Twitter universal website tag code -->
  <script>
    !function (e, t, n, s, u, a) {
      e.twq || (s = e.twq = function () {
        s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
      }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = '//static.ads-twitter.com/uwt.js',
        a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
    }(window, document, 'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init', 'o27oq');
    twq('track', 'PageView');
  </script>
  <!-- End Twitter universal website tag code -->

</head>

<body>
  <div id="header">
    <img src="/img/text.png">
    &nbsp;
    <a href="https://twitter.com/GamesOnSaleDE">
      <img src="/img/twitter.png" with="32" height="32">
    </a>
  </div>

  <div id="navigation" width="80%">
    <ul>
      <li><a href="/news">News</a></li>
      <li><a href="/games">Games</a></li>
      <li><a href="/impressum">Impressum</a></li>
    </ul>
    <br>
  </div>

  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=DE&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=istani0815-21&language=de_DE&marketplace=amazon&region=DE&placement=B075GXNHX7&asins=B075GXNHX7&linkId=08c2de624a700cb4ca19a88385aa9565&show_border=true&link_opens_in_new_window=true"></iframe>
    
  <div id="content">
    <center>
      <div class="hinweis">
        <strong>Hinweis: </strong> Preise können abweichen!<br>
        Wir bemühen uns möglichst schnell die neusten Daten zu bekommen, aber Computer sind auch nur Maschinen.
      </div><br>
      {{{body}}}
    </center>
    <br>
    <br>
  </div>

  <div id="footer">
    <center>
      Code by: Sascha Kaufmann
    </center>
  </div>
</body>

</html>