<center>
  <div class="game">
    <h1 class="title">{{display_name}}</h1>

    <img src="{{banner}}" class="game_pic" width="460" height="215" alt="Game Banner {{display_name}}"></img>

    <div class="game_stores">
      <h2>Stores</h2>
      <div class="store-container">
        {{#each links}}
          <button class="blue_click" onclick="window.open('{{link}}', '_blank');">
            <span class="price_inline">
              {{#checkPrice ../lowPrice formatPrice}}
                <span class="">{{formatPrice}}&nbsp;€</span>
              {{else}}
                <span class="low">{{formatPrice}}&nbsp;€</span>
              {{/checkPrice}}
            </span>
            <span class="{{store}}">{{store}}</span>
          </button>
        {{/each}}
      </div>
      <br>
      <div class="hinweis">
        <strong>Hinweis: </strong> Preise können abweichen!<br>
        Wir bemühen uns möglichst schnell die neusten Daten zu bekommen, aber Computer sind auch nur Maschinen.<br>
        <!--<strong>*=Affiliate/Werbe-Link</strong>: Es kostet euch nicht mehr, aber ich bekomme einen kleinen Teil als
        Provision wenn ihr über diesen Link kauft.<br>!-->
      </div><br>
    </div>

    <div class="game_description">
      <h2>Description</h2>
      <p>{{{description}}}</p>
    </div>

    <div class="game_genres">
      <h2>Genres</h2>
      <div class="genre-container">
        {{#each genre}}
          <button class="blue_click" onclick="location.href='/category/{{genre}}'">
            {{genre}}
          </button>
        {{/each}}
      </div>
    </div>

    <div class="game_merch">
      <h2>Merch</h2>
      <table width="90%">
        {{#each merch}}
          <tr>
            <td width="100%">
              <a href="{{link}}" class="{{store}}" target="_blank">
                {{display_name}}
              </a>
            </td>
            <td class="price-container">
              <p class="price">
                <a href="{{link}}" target="_blank">
                  <span class="">{{formatPrice}}&nbsp;€</span>
                </a>
              </p>
            </td>
          </tr>
          </a>
        {{/each}}
      </table>
    </div>
  </div>
  <br><br>
</center>