<center>
<h1>{{display_name}}</h1>
<div class="game">
<img src="{{localBanner}}" class="game_pic"><br>
<br>
<p class="game_description">{{{description}}}</p>
<br>
<hr class="game_hr">
<h2>Stores</h2>
<table width="100%">
{{#each links}}
  <a href="{{link}}">
    <tr>
      <td width="100%">{{store}}</td>
      <td class="price-container"><p class="price">
      {{#checkPrice ../lowPrice formatPrice}}
        <span class="">{{formatPrice}}&nbsp;€</span>
      {{else}}
        <span class="low">{{formatPrice}}&nbsp;€</span>
      {{/checkPrice}}
      </p></td>
    </tr>
  </a>
{{/each}}
</table>
<hr class-"game_hr">
<h2>Merch</h2>
<table width="100%">
{{#each merch}}
  <a href="{{link}}"
    <tr>
      <td width="100%">{{display_name}}</td>
      <td class="price-container"><p class="price">
        <span class="">{{formatPrice}}&nbsp;€</span>
      </p></td>
    </tr>
  </a>
{{/each}}
</table>
</div>
</center>
