<div class="news_list-container">
  {{#each news}}
    <div class="news_list corner-all">
      <h2>{{display_title}}</h2>
      <p class="created">{{created_at}}</p>
      <hr>
      <table>
        <tr>
          <td>
            <img data-src="{{banner}}" src="img/games/no_pic.jpg" height="129" width="276" class="lazyload" />
          </td>
          <td>
            <p>{{display_text}}</p>
          </td>
        </tr>
      </table>
      <br>
      <hr>
      <table width="100%">
        <tr>
          <td width="100%">
            <p><a href="{{link}}" class="{{category}}">{{category}}</a></p>
          </td>
          <td>
            <p><a href="/game/{{game}}">Zum&nbsp;Game</a></p>
          </td>
        </tr>
      </table>

    </div>
    <br>
  {{/each}}
</div>