<h1>{{{i18n "Site.Register"}}}</h1>
<form method="POST" action="/Register">
  {{#if data.error}}
    <div class="ui-widget">
      <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
        <p>
          <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <strong>{{{i18n "Error.Code" data}}}:</strong> {{{i18n "Error.Text" data}}}</p>
      </div>
    </div>
    <br>
  {{/if}}
  <table width="100%">
    <tr>
      <td>
        <label>{{{i18n "E-Mail"}}}*:</label>
      </td>
      <td>
        <input type="email" name="email">
      </td>
    </tr>
    <tr>
      <td>
        <label>{{{i18n "Password"}}}*:</label>
      </td>
      <td>
        <input type="password" name="password">
      </td>
    </tr>
    <tr>
      <td>
        <label>{{{i18n "Repeat.Password"}}}*:</label>
      </td>
      <td>
        <input type="password" name="password_repeat">
      </td>
    </tr>

    <tr>
      <td colspan="2">
        &nbsp;
        <!-- Placeholder -->
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <input type="checkbox" name="newsletter"> {{{i18n "Newsletter"}}}
        <br>
        <input type="checkbox" name="AGB"> {{{i18n "AGB"}}}
        <a href="/AGB" target="_blank">{{{i18n "Click here"}}}</a>
        <br>

      </td>
    </tr>

    <tr>
      <td colspan="2">
        &nbsp;
        <!-- Placeholder -->
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <center>
          <input type="submit" name="button">
        </center>
      </td>
    </tr>
  </table>
</form>